.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  margin-bottom: 25px;
}

.header-left {
  width: 82px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-middle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-middle > h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 144px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.planner {
  margin: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
}
.planner-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.planner-tab-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.planner-tab-btn.active {
  background: #e5e8ff;
}

.planner-search {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  background: #ffffff;
  opacity: 0.4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.planner-search > .input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.planner-search > .input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.planner-search > .input:focus {
  outline: none;
}

.planner-search > .input:focus::placeholder {
  opacity: 0.3;
}

.planner-search > .image {
  width: 20px;
  height: 20px;
}

.planner-body {
  margin: 20px 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
}

.add-period {
  margin-left: auto;
}

.add-period > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 33px;
  gap: 10px;
  border: none;
  width: 171px;
  height: 45px;
  color: white;
  font-size: 14px;
  background: #5364ff;
  border-radius: 100px;
  cursor: pointer;
}

.add-period > button:hover {
  background: #3f51b5;
}

.add-period > button:focus {
  outline: none;
}

.add-period > button > img {
  width: 20px;
  height: 20px;
}

.add-period > button:target {
  background: #3f51b5;
}

.chart{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}